<header >
  <div class="navbar navbar-inverse">
    <div class="navbar-header">
      <a class="navbar-brand" [routerLink]="[{ outlets: { dashboard: 'dashboard' }}]"><img src="assets/images/logo_light.png" alt=""></a>


      <ul class="nav navbar-nav pull-right visible-xs-block">
        <li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
      </ul>
    </div>

    <div class="navbar-collapse collapse" id="navbar-mobile">
      <ul class="nav navbar-nav">
        <li><a [routerLink]="[{ outlets: { dashboard: 'dashboard' }}]">Dashboard</a></li>
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tools <span class="caret"></span></a>
          <ul class="dropdown-menu dropdown-menu-right">
            <li><a [routerLink]="[{ outlets: { dashboard: 'upload' }}]">Upload Zone</a></li>
            <li class="dropdown-submenu">
              <a href="#">Second level with child</a>
              <ul class="dropdown-menu">
                <li><a href="#">Third level</a></li>
                <li class="dropdown-submenu">
                  <a href="#">Third level with child</a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Fourth level</a></li>
                    <li><a href="#">Fourth level</a></li>
                    <li><a href="#">Fourth level</a></li>
                  </ul>
                </li>
                <li><a href="#">Third level</a></li>
              </ul>
            </li>
            <li><a href="#">Second level</a></li>
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Text link</a></li>



        <li class="dropdown dropdown-user">
          <a class="dropdown-toggle" data-toggle="dropdown">
            <img [src]="name.auth.photoUrl" alt="">
            <span>{{name.auth.displayName}}</span>
            <i class="caret"></i>
          </a>

          <ul class="dropdown-menu dropdown-menu-right">
            
            <li class="divider"></li>
            <li><a href="#"><i class="icon-cog5"></i> Account settings</a></li>
            <li><i class="icon-switch2"></i> <button (click)="delete()">Delete account</button></li>

            <li><i class="icon-switch2"></i> <button (click)="logout()">Logout</button></li>


          </ul>
        </li>
      </ul>
    </div>
  </div>

</header>


<div>

  <router-outlet name="dashboard"></router-outlet>

</div>
