<!-- Page content -->
<div class="page-content">

  <!-- Main content -->
  <div class="content-wrapper">




    <!-- Content area -->
    <div class="content">



      <div class="panel-body">

        <h1 class="">ECG-viewer</h1>
        <div *ngIf="!show" class="loader">
          <img src="../../assets/images/loader/loader.gif" alt="">
        </div>
        <div *ngIf="show">
          <div class="panel panel-flat pl-20">

            <h6 class="text-semibold">Select an ECG to analyze measurement properties</h6>
            <div class="media-body">

              <h5>select your ECG</h5>
              <div style="width:30%">
                <select (change)="selectionChanged($event.target.value)">
         <option *ngFor="let c of ECGnames" [ngValue]="ECGnames">{{c}}</option>
                
                  </select>
              </div>
            </div>

            <div class="panel-heading">
              <h6 class="panel-title">Metrics</h6>
            </div>

            <div class="panel-body">
              <h6>The by algorithm calculated count of beats <strong>{{beatcount}}</strong>.</h6>
              <h6>Interpolation of BPM-count <strong>{{BPM | number : '1.0-0'}} BPM</strong>.</h6>
              <h6>QRS complexes found at indexes:</h6>
              <ul>
                <li *ngFor="let index of beatIndexes">
                  {{ index }}
                </li>
              </ul>
            </div>



            <div class="panel-heading">
              <h6 class="panel-title">Actual ECG</h6>
            </div>

            <div class="panel-body">
              <div style="display: block;">
                <canvas baseChart [datasets]="ecgdata" [options]="lineChartOptions" [colors]="lineChartColors" [labels]="lineChartLabels"
                  [legend]="lineChartLegend" [chartType]="lineChartType">
                </canvas>
              </div>


            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- /simple panel -->
