<!-- Page content -->
<div class="page-content">

  <!-- Main content -->
  <div class="content-wrapper">




    <!-- Content area -->
    <div class="content">



      <div class="row">
        <div class="col-md-12">
          <div class="panel-body">
            <h1 class="">Uploadzone</h1>
            <div class="panel panel-flat pl-15">
              <h6 class="text-semibold">Upload a new ECG</h6>
              <div class="media-body">
              
              <h1>TEST</h1>

              </div>
            </div>
          </div>

        </div>
       


      </div>
    </div>
  </div>
</div>
<!-- /simple panel -->
