<!-- Page content -->
<div class="page-content">

  <!-- Main content -->
  <div class="content-wrapper">




    <!-- Content area -->
    <div class="content">



      <div class="row">
        <div class="col-md-12">
          <div class="panel-body">
            <h1 class="">ECG-viewer</h1>
            <div class="panel panel-flat pl-15">
              <h6 class="text-semibold">Select an ECG to analyze measurement properties</h6>
              <div class="media-body">

                <h5>select your ECG</h5>
                <select [(ngModel)]="selectedValue">
         <option *ngFor="let c of ECGnames" [ngValue]="ECGnames">{{c}}</option>
                
                  </select>

              </div>
            </div>
          </div>

        </div>



      </div>
    </div>
  </div>
</div>
<!-- /simple panel -->