<!-- Page content -->
<div class="page-content">

  <!-- Main content -->
  <div class="content-wrapper">




    <!-- Content area -->
    <div class="content">



      <div class="row">
        <div class="col-md-12">
          <div class="panel-body">
            <h1 class="pl-5">Uploadzone</h1>
            <div class="panel panel-flat pl-5">
              <h6 class="text-semibold pl-5">Upload a new ECG</h6>
              <div class="media-body pl-5">
                <input class="pl-5" type="file" (change)="fileChangeEvent($event)" accept=".json" class="file-styled">
                <span class="help-block pl-5">Accepted format: json</span>
                <div [hidden]="!succesDialog" class="alert alert-danger alert-styled-left alert-bordered">
                  <button type="button" class="close" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                  <span class="text-semibold">Oh snap!</span> Change a few things up and <a href="#" class="alert-link">try submitting again</a>.
                </div>

              </div>
            </div>
          </div>

        </div>
        <div class="col-md-12">
          <div class="panel-body">
            <div *ngIf="!show" class="loader">
              <img src="../../assets/images/loader/loader.gif" alt="">
            </div>
            <h6 class="text-semibold">Your ECG upload history</h6>
            <div class="media-body">
              <div class="panel panel-flat">
                <div class="panel-heading">
                  <h6 class="panel-title">History</h6>
                  <ul class="list">
                    <li class="listitem" *ngFor="let item of items | async">
                      {{item.$key }}
                    </li>
                  </ul>
                </div>


              </div>

            </div>
          </div>

        </div>


      </div>
    </div>
  </div>
</div>
<!-- /simple panel -->